<link rel="stylesheet" href="style_login.css">
<link rel="shortcut icon" href="#">

<h1> Home Page</h1>
<p><ul>
  <a href="/login" target="_blank">Login</a>
  <a href="/register" target="_blank">Register</a>
  <a href="/logout" target="_blank">Logout</a>
</ul></p>