input {
    margin-left: 10px;
}
.container_input{
    margin-top: 2%;
    margin-left: 2%;
}

.row{
    margin-top: 1%;
}
.container_graphs{
    margin-top: 5%;
    margin-left: 2%;
    max-width: 100%;
}

.container_graphs_1{
    height: 100px;
    flex: 0 0 auto;
    width: 100%;
}

#tooltip {
    position: absolute;
    display: none;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
      Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    width: 100px;
    transform: translateX(-50%);
    text-align: center;
    background: #00aaff;
    border-radius: 3px;
    box-shadow: 0px 0px 2px #ffffff;
    color: #ffffff;
  }
  #tooltip .tooltip-label {
    padding: 6px 2px;
    color: #ffffff;
    font-size: 12px;
  }
  #tooltip .tooltip-value {
    padding: 0 2px 8px 2px;
  }
  
  #tooltip .tooltip-value .value {
    font-size: 14px;
  }
  #tooltip::after {
    content: "";
    width: 12px;
    height: 12px;
    background: #3abeff;
    display: block;
    bottom: -27px;
    border-radius: 50%;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }

.button{
    position: relative;
    background-color: #3abeff;
    border: none;
    font-size: 18px;
    color: #FFFFFF;
    padding: 10px;
    width: 100px;
    text-align: center;
    transition-duration: 0.4s;
    text-decoration: none;
    overflow: hidden;
    cursor: pointer;
    border-radius: 7%;
  }
    
.button:after {
    content: "";
    background: #31a0d8;
    display: block;
    position: absolute;
    padding-top: 300%;
    padding-left: 350%;
    margin-left: -20px!important;
    margin-top: -120%;
    opacity: 0;
    transition: all 0.8s
  }
    
.button:active:after {
    padding: 0;
    margin: 0;
    opacity: 1;
    transition: 0s
  }


/* ................. */

*, *:after, *:before {
  box-sizing: border-box;
}

.custom-select-wrapper {
  position: relative;
  user-select: none;
  width: 100%;
}
.custom-select {
  position: relative;
  display: flex;
  flex-direction: column;
  border-width: 0 2px 0 2px;
  border-style: solid;
  border-color: #3abeff;
  width: 300px;
  height: 50px;
  border-radius: 7%;
}
.custom-select__trigger {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  font-size: 18px;
  font-weight: 300;
  color: #ffffff;
  line-height: 50px;
  background: #3abeff;
  cursor: pointer;
}
.custom-options {
  position: absolute;
  display: block;
  top: 100%;
  left: 0;
  right: 0;
  border: 2px solid #31a0d8;
  border-top: 0;
  background: #31a0d8;
  transition: all 0.5s;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  z-index: 2;
}
.custom-select.open .custom-options {
  opacity: 1;
  visibility: visible;
  pointer-events: all;
}
.custom-option {
  position: relative;
  display: block;
  padding: 0 22px 0 22px;
  font-size: 16px;
  font-weight: 300;
  color: #ffffff;
  line-height: 60px;
  cursor: pointer;
  transition: all 0.5s;
}
.custom-option:hover {
  cursor: pointer;
  background-color: #31a0d8;
}
.custom-option.selected {
  color: #ffffff;
  background-color: #3abeff;
}

.arrow {
  position: relative;
  height: 15px;
  width: 15px;
}
.arrow::before, .arrow::after {
  content: "";
  position: absolute;
  bottom: 0px;
  width: 0.15rem;
  height: 100%;
  transition: all 0.5s;
}
.arrow::before {
  left: 5px;
  transform: rotate(45deg);
  background-color: #ffffff;
}
.arrow::after {
  left: 15px;
  transform: rotate(-45deg);
  background-color: #ffffff;
}
.open .arrow::before {
  left: 5px;
  transform: rotate(-45deg);
}
.open .arrow::after {
  left: 15px;
  transform: rotate(45deg);
}

